<section>
  <div class="page-header">
    <h1>{{vm.secretspace._id ? 'Edit Secretspace' : 'New Secretspace'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.secretspaceForm" class="form-horizontal" ng-submit="vm.save(vm.form.secretspaceForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Title</label>
          <input name="name" type="text" ng-model="vm.secretspace.name" id="name" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.secretspaceForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Secretspace title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Whisper</label>
          <input name="whisper" type="text" ng-model="vm.secretspace.whisper" id="whisper" class="form-control" placeholder="Whisper" required>
          <div ng-messages="vm.form.secretspaceForm.whisper.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Secretspace title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="friends">Friends</label>
          <input name="friends" type="text" ng-model="vm.secretspace.friends" id="friends" class="form-control" placeholder="Friends" required>
          <div ng-messages="vm.form.secretspaceForm.friends.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Secretspace title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.secretspace._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
