<section>
  <div class="page-header">
    <h1>Secretspaces</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="secretspace in vm.secretspaces"
       data-ui-sref="secretspaces.view({ secretspaceId: secretspace._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="secretspace.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="secretspace.user" data-ng-bind="secretspace.user.displayName"></span>
        <span data-ng-if="!secretspace.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="secretspace.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.secretspaces.$resolved && !vm.secretspaces.length">
    No Secretspaces yet, why don't you <a data-ui-sref="secretspaces.create">create one</a>?
  </div>
</section>
